.header{
    display:inline;
    overflow: hidden;
    height:250px;
}

.logo{
    float:left;
    width:10%;
    margin-right:60%
}

.logo img{
    width:100%;
}

.navigation ul{
    padding-top:50px;
}

.navigation li{
    display: inline;
    font-size:2rem;
    margin-right: 20px;
    padding-right:10px;
}