body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.product-catalog {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows:repeat(2, 1fr);  ;
    gap: 20px;
    max-width:500px;
    max-height:500px;
       
}

.product{
    margin-bottom: 10px;
}

.product img{
    width:100%;
    height:auto;
}

.p1{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.p2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.p3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.p4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #2581c4;
}
