* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    height: 100vh;
    background-color: #cccccc;
  }
  
  .container {
    display: grid;
    margin: 0 200px;
    width: calc(100% - 400px);
    height: 110%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(15, 1fr);
    grid-gap: 5px;
  }
  
  .head {
    width:100%;
    height:100%;
    grid-row: 1 / 4;
    grid-column: 1 / 13;
    background-color: white;
    display:flex;
    flex-direction:column;
  }

  .accessibility{
    width:100%;
    text-align:right;
    padding-right:1px;
    background-color: #073302;
    width: 100%;    
    height: 17px;
  }

  .accessibility a{
    margin-right:1px;
    font-size:11px;
    color: white;
    font-family: tahoma;    
  }

  .header{  
    display:flex;
    justify-content: space-between;
    height:80%;
    background: rgb(255,100,0);
    background: linear-gradient(90deg, rgba(255,100,0,1) 0%, rgba(255,255,255,1) 49%, rgba(15,255,0,1) 100%);
    font-family: tahoma; 
  } 

  .logo1 img{    
    width:80px;
    height:80px;
    border-spacing: 2px;
  }

  .logo2 img{    
    width:80px;
    height:80px;
    border-spacing: 2px;
  }

 h2{
    text-align: center;
   margin-top: 20px;
   color:#ad2F0e; 
    }

    .nav-links{
      display:grid;
      grid-template-columns: repeat(6,1fr);
      gap:1px;     
      align-items: center;
      justify-content: center;
      color:white; 
      height:calc(100%-80%-17px);
          
    }

    .nav-links div{ 
      background-color: #073302; 
      height:100%;      
      display:flex;
      justify-content: center;
      align-items: center;
      font-size:11px;
      border:2px solid white;
    }
  
  .content {
    grid-row: 4 / 13;
    grid-column: 1 / 13;
    display:grid;
    grid-template-columns: 1fr 3fr;
  }
  
  .sidebar{
    background-color: #073302;
    height:100% ;
    width: 100%;
  }

  h6{
    background-color: #0e6204;
    color:white;
    height:5%;
  }

  .sidebar-links{
   
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width:100%;
    margin-left:10px;
    margin-top:20px;
  }

  ul{
    width:100%;
    list-style-type:none;
  }

  li{
    margin-bottom:10px;
  }

  span{
    font-size: 11px;
  }

  .sidebar-links a{
    text-decoration: none;
    color:white;
    font-size: 11px;   
    font-weight: 300px;
  }

  .sidebar-links a:hover{
    text-decoration: underline;
    }

  .main-content{
    background-color: white;
    width:100%;
  }

  .content-header{
      width:100%;
      display: flex;
      justify-content: space-between;
      padding:15px 10px;
      background-color: #efefef;
  }

  .option-links{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding:0 5px;
    background-color: #efefef;
  }

  .option-links img{
    width:14px;
    height:13px;
  }

  .option-links a{
    font-size: 11px;
    text-decoration: none;
    margin-right:25px;
  }

  .QuickLinks{
    font-size: 10px;
  }

  .QuickLinks #dropdown{
    width: 150px;
    font-size: 10px;
  }
  
  .subcontent{
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: tahoma;
    font-size:12px;
    padding:10px 10px;
    
  }

  .source{

    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    font-size: 11px;
  }

  .footer {
    grid-row: 13 / 16;
    grid-column: 1 / 13;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    text-align: center;
    padding: 10px 10px;
    
  }

  .copyright{
      color:gray;
  }